<app-navbar></app-navbar>
<div class="page-container">
    <div class="welcome-container">
        <div class="left-text">
            <img src="assets/images/utdclearlogo.png" alt="landing logo">
            <div class="welcome-text bold mt-2">Welcome to TutorUTD</div>
        </div>
    </div>
    <div class="button-container">
        <div class="options-container">
            <div class = "login-button" (click)="toLoginPage(true)">
                <fa-icon [icon]="faRightToBracket" style="color: #ffffff;"></fa-icon>
                <div class="header-text bold" style="color: #ffffff;">Student Login</div>
            </div>
            <div class="link mt-2" (click)="toSignUpPage(true)">Student Sign-up</div>
        </div>
        <div class="options-container">
            <div class = "login-button" (click)="toLoginPage(false)">
                <fa-icon [icon]="faRightToBracket" style="color: #ffffff;"></fa-icon> 
                <div class="header-text bold" style="color: #ffffff;">Tutor Login</div>
            </div>
            <div class="link mt-2" (click)="toSignUpPage(false)">Tutor Sign-up</div>
        </div>
    </div>
</div>

