.page-container
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 5rem;
}

.apt-container
{
    display: flex;
    flex-direction: column;
    width: 800px;
}

.apt-card
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.apt-description
{
    display: flex;
    flex-direction: column;
}

.cancel-button
{
    background-color: red;
    border-radius: 1px;
    color: white;
    cursor: pointer;
    height: 50px;
    width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: 1rem;
}

.view-profile-button
{
    background-color: gainsboro;
    color: black;
    cursor: pointer;
    height: 50px;
    width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: 1rem;
}

.complete-button
{
    background-color: #0082FA;
    color: whitesmoke;
    cursor: pointer;
    height: 50px;
    width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: 1rem;
}

hr
{
    width: 800px;
    border: 1px solid #000;
    margin-top: 1rem;
    margin-bottom: 1rem;
}