.page-container
{
    display: flex;
    justify-content: center;
    width: 95%;
    height: 100%;
    flex-direction: column;
}

table
{
    display: block;
    border-collapse: collapse;
    background-color: var(--defaultGrey);
    border: 1px solid black;
    max-height: 300px;
    overflow-y: scroll;
    width: fit-content;
}

th 
{
    width: 150px;
}

th, td
{
    border: 1px solid black;
    background-color: var(--utdGreen);
    color: #f5f5f5;
}

td
{
    background-color: rgb(219 219 219);
    height: 15px;
}

.date
{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.time-block
{
    font-size: 11px;
    text-align: center;
}


.time-slot {
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 1px;
    color: rgb(191, 191, 191);
  }

.selected
{
    background-color: #00c100;
}

.booked
{
    background-color: red;
    pointer-events: none;
}

.disabled
{
    pointer-events: none;
}

.student-selected
{
    background-color: gold;
}
