<div class="page-container mt-3">
    <div>
        <button (click)="previousWeek()" style="border-top-left-radius: 10px;">Previous Week</button>
        <button (click)="nextWeek()" style="border-top-right-radius: 10px;">Next Week</button>
    </div>
    
    <table>
        <thead>
            <tr>
            <th></th>
            <th *ngFor="let day of daysInWeek">
                <div class="date">
                    {{ day | date: 'EEEE' }} {{ day | date: 'MM/dd' }}
                </div>
            </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let time of appointmentTimes">
                <th class="time-block">{{ time }}</th>
                <td *ngFor="let day of daysInWeek" style="padding: 0">
                    <div class="time-slot" 
                        [class.selected]="isSelected(day, time)" 
                        [class.booked-tutor]="hasAppointment(day, time) && tableType == 1 && isSelected(day, time)"
                        [class.booked-student]="hasAppointment(day, time) && (tableType == 2 || tableType == 0)"
                        [class.student-selected]="isStudentSelected(day, time) && tableType == 2"
                        [class.disabled]="tableType == 0 || isInPast(day)"
                        (click)="toggleSelection(day, time)">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>    
</div>
