<div class="page-container">
    <div>
        <button (click)="previousWeek()">Previous Week</button>
        <button (click)="nextWeek()">Next Week</button>
    </div>
    
    <table>
        <thead>
            <tr>
            <th></th>
            <th *ngFor="let day of daysInWeek">
                <div class="date">
                    {{ day | date: 'EEEE' }} {{ day | date: 'MM/dd' }}
                </div>
            </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let time of appointmentTimes">
                <th class="time-block">{{ time }}</th>
                <td *ngFor="let day of daysInWeek" style="height: 16px; padding: 0">
                    <div class="time-slot" [class.selected]="isSelected(day, time)" (click)="toggleSelection(day, time)"></div>
                </td>
            </tr>
        </tbody>
    </table>    
</div>
