<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <div class="logo-container-navbar">
            <img src="assets/images/navbarlogo.png" alt="navbar logo">
            <label class="logo">Online Tutor App</label>
        </div>
        <ul *ngIf="user === 1">
            <li><a href="#">Search</a></li>
            <li><a href="#">Appointments</a></li>
        </ul>
        <ul *ngIf="user === 2">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Appointments</a></li>
        </ul>
    </div>
</body>
</html>