* {
    text-decoration: none;
    list-style: none;
}

.navbar {
    flex-wrap: nowrap;
    background: #FF8C00;
    height: 80px;
    border-bottom: 2px solid black;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

label.logo {
    font-size: 35px;
    padding: 0 20px;
}

.navbar img {
    width: 60px;
}

ul {
    margin-right: 10px;
}

ul li {
    padding-top: 15px;
    display: inline-block;
    margin: 0 10px;
}

ul li a {
    color: #F1F1F1;
    font-size: 25px;
}

.logo-container-navbar {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
