.page-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-container
{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-size: 26px;
}

.return-btn
{
    background-color: gainsboro;
    color: black;
    cursor: pointer;
    height: 60px;
    width: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.login-btn
{
    background-color: #0082FA;
    color: whitesmoke;
    cursor: pointer;
    height: 60px;
    width: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}