<app-navbar></app-navbar>
<app-edit-profile *ngIf="isEditing" [courses]="courses" (close)="closeTutorModal()" (name)="editName($event)" (bio)="editBio($event)"></app-edit-profile>
<app-book-session *ngIf="bookingSession" (close)="closeStudentModal()"></app-book-session>
<div class="page-container">
    <div class="user-container">
        <img src="assets/images/default.jpg" alt="profile image">
        <div class="name-and-bio-container">
            <div class="tutor-name"><b>{{fullName}}</b></div>
            <div class="tutor-bio">{{biography}}</div>
        </div>
        <div>
            <b class="course-list">Course List:</b>
            <ul class="subjects-list">
                <ng-container *ngFor="let course of courses">
                    <li>{{course}}</li>
                </ng-container>
            </ul>
        </div>
    </div>
    <div class="d-flex flex-row mb-3" style="width: 95%; align-items: center; gap: 1rem;">
        <button *ngIf="!isStudent" class="book-btn" (click)="showTutorModal()">Edit Profile</button>
        <button *ngIf="isStudent" class="book-btn" (click)="showStudentModal()">Book Session</button>
        <fa-icon *ngIf="isStudent" class="star" [icon]="faStar" (click)="toggleFavorite()"
            [class.star-on]="isFavorited" [class.star-off]="!isFavorited"></fa-icon>
    </div>
    <app-time-table *ngIf="!isStudent && isEditingSchedule" [tableType]=1 [appointments]="appointments" [selectedTimes]="tutorSchedule"></app-time-table>
    <app-time-table *ngIf="isStudent || !isEditingSchedule" [tableType]=0 [appointments]="appointments" [selectedTimes]="tutorSchedule"></app-time-table>
    <button *ngIf="!isStudent && !isEditingSchedule" class="btn btn-primary table-btn" (click)="editSchedule()">Edit Schedule</button>
    <button *ngIf="!isStudent && isEditingSchedule" class="btn btn-primary table-btn" (click)="saveSchedule()">Save Schedule</button>
</div>
