.page-container
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 5rem;
}

.user-container{
    display: flex;
    padding: 20px 0;
}

.user-container img{
    width: 200px;
    border-radius: 50px;
    margin-right: 3rem;
    height: 200px;
}

.class-list{
    padding: 10px 20px;
}

.course-list {
    list-style: none;
    padding: 0;
}

.tutor-name{
    font-size: 48px;
    line-height: 1;
}

.tutor-bio{
    font-size: 20px;
}

.name-and-bio-container{
    width: 530px;
    margin-right: 20px;
}

.course-list{
    font-size: 20px;
}

.subjects-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
}




