body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  p {
    font-size: 24px;
    margin-bottom: 40px;
  }
  a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    font-size: 24px;
    border-radius: 5px;
  }
  a:hover {
    background-color: #3e8e41;
  }

.home-page{
  margin-top: 7rem;
}