<app-navbar [loggedIn]="false"></app-navbar>
<div class="page-container row">
    <div class="logo-container col">
        <img src="assets/images/utdLogo.png" alt="logo" class="logo mt-5">
        <div class="logo-text">Online Tutor App</div>
    </div>
    <div class="sign-up-container col">
        <div *ngIf="isStudent" class="header-text bold mt-4">Student Sign Up</div>
        <div *ngIf="!isStudent" class="header-text bold">Tutor Sign Up</div>
        <form (ngSubmit)="signUp()" class="sign-up-form">
            <div class="form-element">
                <div class="body-text">First Name</div>
                <input type="text" class="input-field form-control my-3" [(ngModel)]="fName" name="firstName" required>
            </div>
            <div class="form-element">
                <div class="body-text">Last Name</div>
                <input type="text" class="input-field form-control my-3" [(ngModel)]="lName" name="lastName" required>
            </div>
            <div class="form-element">
                <div class="body-text">Email</div>
                <input type="email" class="input-field form-control my-3" [(ngModel)]="email" name="email" required>
            </div>
            <div class="form-element">
                <div class="body-text">Password</div>
                <input type="password" class="input-field form-control my-3" [(ngModel)]="password" name="password" required>
            </div>
            <div class="form-element">
                <div class="body-text">Confirm Password</div>
                <input type="password" class="input-field form-control my-3" [(ngModel)]="cPassword" name="confirmPassword" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block my-3">Sign Up</button>
        </form>
    </div>
</div>