<app-navbar [loggedIn]="false"></app-navbar>
<div class="page-container row">
    <div class="logo-container col">
        <img src="assets/images/utdLogo.png" alt="logo" class="logo">
        <div class="logo-text">Online Tutor App</div>
    </div>
    <div class="sign-up-container col">
        <div *ngIf="isStudent" class="header-text bold">Student Sign Up</div>
        <div *ngIf="!isStudent" class="header-text bold">Tutor Sign Up</div>
        <form (ngSubmit)="signUp()" class="sign-up-form">
            <input type="text" class="input-field form-control my-3" placeholder="First Name" [(ngModel)]="fName" name="firstName" required>
            <input type="text" class="input-field form-control my-3" placeholder="Last Name" [(ngModel)]="lName" name="lastName" required>
            <input type="text" class="input-field form-control my-3" placeholder="Email" [(ngModel)]="email" name="email" required>
            <input type="password" class="input-field form-control my-3" placeholder="Password" [(ngModel)]="password" name="password" required>
            <input type="password" class="input-field form-control my-3" placeholder="Confirm Password" [(ngModel)]="cPassword" name="confirmPassword" required>
            <button type="submit" class="btn btn-primary btn-block my-3">Sign Up</button>
        </form>
    </div>
</div>