.page-container
{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-inline: 5rem;
}

.results-container
{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.result-card
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 120px
}

.profile-pic
{
    height: 110px;
    width: 110px;
    margin-right: 25px;
}

.result-text
{
    font-size: 24px;
    color: black;
}

.view-profile-btn
{
    background-color: gainsboro;
    color: black;
    border: none;
    cursor: pointer;
    height: 110px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-left: 1rem;
    font-size: 25px;
    margin-left: auto;
}

hr
{
    width: 100%;
    border: 1px solid #000;
    margin-top: 1rem;
    margin-bottom: 1rem;
}